# Xcode
.DS_Store
*.xcuserstate
*.xccheckout
*.xcworkspace/xcuserdata
*.xcodeproj/xcuserdata
*.xcodeproj/project.xcworkspace/xcuserdata
*.xcodeproj/project.xcworkspace/xcuserdata
*.xcodeproj/project.xcworkspace/xcuserdata
*.moved-aside
*.pbxuser
*.perspectivev3
xcuserdata/
DerivedData/
build/

# Swift Package Manager
.build/
.swiftpm/xcode/package.xcworkspace/xcuserdata
.swiftpm/xcode/package.xcworkspace/xcshareddata

# Swift Playgrounds
timeline.xctimeline
playground.xcworkspace
